<%- include('template/cabecera',{titleWeb: 'index aplicacion'})%>

<div class="container">

  <div class="d-grid gap-2 m-3">
    <a class="btn btn-primary" href="/mascotas/crear">Añadir Nueva Informacion</a>
  </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        
        <tbody>
            <% if (arrayMascotasDB.length > 0) { %>
                <% arrayMascotasDB.forEach(element => { %>
                    <tr>
                        <th scope="row"><%=element.id%></th>
                        <td><%= element.nombre %> </td>
                        <td><%= element.descripcion %> </td>
                        <td><a href="mascotas/<%=element.id%>"
                          class="btn btn-warning btn-sm">Editar</a></td>
                      </tr>
                <% }) %>
           <% } %>
 
        </tbody>
      </table>

</div>
    
<%- include('template/footer')%>
